*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './variables/colores';
@import './variables/extend';
@import './variables/mixin';
@import './variables/fontfamily';


@import './secciones/header';
@import './secciones/footer';

/* Main index*/
.nuevo{
    display: flex;
    align-content: center;
    justify-content: center;
}

.imagenes{
    margin: 20px;
    padding: 15px;
}

.imagenes:hover{
    border-radius: 10px;
    transform: translateY(-3%);
    margin: 20px;
    padding: 15px;
}

.mas-detalle{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 10px;
}

.mas-detalle:hover{
    color: #c9a816;
    font-weight: bold;
}

.titulo3{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 10px;
}

section .newsletter{
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
section .emailInicio{
    width: 343px;
    height: 55px;
    margin-top: 32px;
    border: 1px solid #00000040;
    border-radius: 8px;
    background: #FFF;
    font-family: Graphik,Arial,sans-serif;
    font-size: 12px;
    padding-left: 16px;
    font-weight: 400;
}

.enviar{
    margin: 18px;
    display: flex;    
    justify-content: center;
}


//  PRODUCTOS //
.modeloCarta{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 43px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px #000;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    color: #f3f3f3;
    text-decoration: none;
}
.card .back .link a:hover{
    color: #c9a816;
    font-weight: bold;
}
.card .back h3{
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.tallas-lista{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.tallas-lista li{
    text-decoration: none;
}



// CONTACTO //

.main_contacto form {
   @extend %estiloContacto;
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

.mapa h3{
    font-family: $texto1;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
}

/* H2 Y H3 DE PRODUCTOS,AYUDA,PREGUNTAS Y CONTACTO */
h2 {
    @extend %estiloH2;
    @include H2Style(13px)
}

/* Preguntas */
.preguntas h1{
    font-family: $texto1;
    align-items: center;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.pedido h4{
    font-size: 20px;
}

.pedido_comprobar{
    margin: 20px;
    padding: 10px;
}

.enviar{
    display: flex;
}


/* NOVEDAES */

.linea{
    background: #c9a816;
    height: 5px;
    width: 100%;
    display: block;
}
.grid-container{
    margin: 20px;
    padding: 18px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
    grid-row-gap: 48px;
}

.grid-container img{
    height: 300px;
    box-shadow: 0 5px 10px #000;
}

.grid-container img:hover{
    border-radius: 10px;
    transform: translateY(-3%);
    transition: .3s;
    margin: 20px;
    padding: 15px;

}

.slogan{
    align-items: center;
    font-size: 40px;
    justify-content: center;
    display: flex;
    margin: 20px;
    font-family: $texto1;
    font-weight: 200;
}

.slogan_h4{
    align-items: center;
    margin: 20px;
    font-family: $texto1;
    display: flex;
    justify-content: center;
    font-size: 30px;
}


/* Media querys */

@media (max-width: 968px){
    .grid-container {
        grid-template-columns: repeat(2,2fr);
    }

    .nuevo {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 650px){
    .inicio {
        display: flex;
        flex-wrap: wrap;
    }


    .grid-container {
        grid-template-columns: repeat(1,2fr);
    }

    .grid-container img{
        grid-template-columns: repeat(1,2fr);
    }

    .slogan{
        align-items: center;
        font-size: 20px;
        justify-content: center;
        display: flex;
        margin: 20px;
        font-family: $texto1;
        font-weight: 200;
    }

    .imagenes{
        margin: 20px;
        padding: 15px;
        
    }

    iframe{
        width: 465px;
    }

    section h2{
        font-size: 20px;
    }

    section .newsletter{
        font-size: 15px;
    }

}

@media (max-width: 650px){
    
    iframe{
        width: 300px;
        height: 200px;
    }

    .mapa h3 {
        font-size: 15px;
    }

    .imagenes {
        width: 300px;
    }

    .titulo3 {
        display: flex;
        margin: 0;
        justify-content: space-around;
        padding: 0;
        flex-wrap: nowrap;
        font-size: 20px;
    }

    .mas-detalle {
        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: center;
        margin: 5px;
        padding: 0px;
    }

    .slogan_h4 {
        font-size: 20px;
    }

}

@media (max-width: 375px){
    section h3{
        font-size: 15px;
    }

    .pedido h4 {
        font-size: 10px;
    }

    .imagenes {
        width: 270px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section .emailInicio {
        width: 284px;
        height: 39px;
    }

.card {
    position: relative;
    width: 237px;
    height: 403px;
    margin: 41px;
}

.grid-container img {
    height: 234px;
}
}