/* Header */
.header{
    &__logo{
        width: 120px;
    
    &:hover{
        transform: skew(15deg);
        transition: 3s;
      }
    }
    .btn-outline-success {
        --bs-btn-color: #f8f9fa;
        --bs-btn-border-color: #ffc107;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #e6e947ad;
        --bs-btn-hover-border-color: #d51010;
    }
    .nav-link{
        color: $navegadorLink;
    }
    .navbar-nav .nav-link.active{
        color: $navegadorLink;
    }
    .navbar-toggler-icon{
        color: $navegadorLink;
    }
    
    .nav-link:focus, .nav-link:hover{
        color:$hovernav;
    }

}
